{% extends 'index.html' %}
{% block content %}
{% load static %}
<div class="oh-wrapper">
  <div class="oh-dashboard row">
    <div class="oh-dashboard__left col-12 col-sm-12 col-md-12 col-lg-9">
      <div class="oh-dashboard__cards row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="oh-card-dashboard oh-card-dashboard oh-card-dashboard--success">
            <div class="oh-card-dashboard__header">
              <span class="oh-card-dashboard__title">Active Employees</span>
            </div>
            <div class="oh-card-dashboard__body">
              <div class="oh-card-dashboard__counts">
                <span class="oh-card-dashboard__sign"><ion-icon name="accessibility"></ion-icon></span>
                <span class="oh-card-dashboard__count">{{active_employees}}</span>
              </div>
              <span class="oh-badge oh-card-dashboard__badge">{{active_ratio}}%</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="oh-card-dashboard oh-card-dashboard--neutral">
            <div class="oh-card-dashboard__header">
              <span class="oh-card-dashboard__title">Total Employees</span>
            </div>
            <div class="oh-card-dashboard__body">
              <div class="oh-card-dashboard__counts">
                <span class="oh-card-dashboard__count">{{total_employees}}</span>
              </div>
              <span class="oh-badge oh-card-dashboard__badge">100%</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
          <div class="oh-card-dashboard oh-card-dashboard--danger">
            <div class="oh-card-dashboard__header">
              <span class="oh-card-dashboard__title">Inactive Employees</span>
            </div>
            <div class="oh-card-dashboard__body">
              <div class="oh-card-dashboard__counts">
                <span class="oh-card-dashboard__sign"><ion-icon name="accessibility"></ion-icon></span>
                <span class="oh-card-dashboard__count">{{inactive_employees}}</span>
              </div>
              <span class="oh-badge oh-card-dashboard__badge">{{inactive_ratio}}%</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more admin widgets here as needed -->
    </div>
    <div class="oh-dashboard__right  col-12 col-sm-12 col-md-12 col-lg-3">
      <div class="oh-dashboard__events">
        <div class="oh-dashbaord__events-reel">
          <!-- You can add admin-specific events or stats here -->
        </div>
      </div>
      <div class="oh-card-dashboard oh-card-dashboard--no-scale oh-card-dashboard--transparent mt-3">
        <div class="oh-card-dashboard__header oh-card-dashboard__header--divider">
          <span class="oh-card-dashboard__title">Admin Links</span>
        </div>
        <div class="oh-card-dashboard__body">
          <ul class="oh-card-dashboard__user-list">
            <li class="oh-card-dashboard__user-item">
              <a href="/admin/">Django Admin</a>
            </li>
            <li class="oh-card-dashboard__user-item">
              <a href="/employee/employee-view/">Manage Employees</a>
            </li>
            <li class="oh-card-dashboard__user-item">
              <a href="/employee/employee-view-new">Add Employee</a>
            </li>
            <!-- Add more admin links as needed -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{% static 'dashboard/employeeChart.js' %}"></script>
{% endblock content %} 